/*Custom login page for Styles&Wood - By Mark Firth*/

.login form{
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13)!important;
	background: none repeat scroll 0% 0% rgba(68, 68, 68, 0.36)!important;
	border-radius: 12px!important;
	padding: 20px!important;
	}
.login #nav a, .login #backtoblog a {
	display: none!important;}
.login h1 a {
	background: url('http://www.stylesandwood-group.co.uk/sw-cms/wp-content/uploads/StylesWood-Group-Logo-pc.png') no-repeat!important;
	background-position:center center!important;
	width:100%!important;
	height:120px!important;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13)!important;
	border-radius: 12px!important;
	}
.login h1 a:hover {
	background: url('http://www.stylesandwood-group.co.uk/sw-cms/wp-content/uploads/StylesWood-Group-Logo-gs.png') no-repeat!important;
	background-position:center center!important;
	}
body.login{
	background:#f1f1f1 url('http://4.bp.blogspot.com/-7e5i3gvf-o4/UdFpAi0GJfI/AAAAAAAAFN0/dt41gu945l0/s256/black-groove-stripes-repeating-background.jpg') repeat!important;
	}
textarea, input[type=text], input[type=password], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=url], .titlewrap input, select {
	border-color: #ddd!important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.39)!important;
	background-color: rgba(141, 140, 139, 0.18)!important;
	color: rgba(194, 185, 177, 1)!important;
	border-width: 0!important;
	padding-left: 10px!important;
	}
textarea:hover, input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=number]:hover, input[type=search]:hover, input[type=tel]:hover, input[type=url]:hover, .titlewrap input:hover, select:hover {
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.39)!important;
	background-color: rgba(141, 140, 139, 0.25)!important;
	color: rgba(194, 185, 177, 1)!important;
	border-width: 1!important;
	}
input[type=checkbox], input[type=radio]{
	border-color: #ddd!important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.39)!important;
	background-color: rgba(141, 140, 139, 0.18)!important;
	color: rgba(194, 185, 177, 1)!important;
	border-width: 0!important;
	}
	
	input[type=checkbox]:hover, input[type=radio]:hover{
	border-color: #ddd!important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.39)!important;
	background-color: rgba(141, 140, 139, 0.18)!important;
	color: rgba(194, 185, 177, 1)!important;
	border-width: 0!important;
	}