/*   
Theme Name: Craper
Author: Template-geek
Version: 1.0.1
Author URI: http://themeforest.net/user/Template-Geek/profile
Theme URI: http://themeforest.net/
Description: A sleek business multi-purpose WordPress Theme by - <a href="http://template-geek.com/">Template Geek</a>
License: The License with which You Bought This Theme from Themeforest
License URI: http://themeforest.net/wiki/support/legal-terms/licensing-terms/
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, translation-ready, microformats
Text Domain: wp_craper
*/

.gallery-caption {}
.commentlist .bypostauthor {}
.wp-caption {
	max-width:100%;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	margin: 0px 0px 10px 0px;
	border-radius: 0px;
}
.wp-caption img {
	margin: 0 0 10px 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: .80em;
line-height: 17px;
padding: 0 5px;
margin: 0;
}

.sticky {}
.alignright { float: right; margin-left:20px; margin-bottom:10px; }
.alignleft { float: left; margin-right:20px; margin-bottom:10px; }
.aligncenter { float: none; }

/*extra style from adi*/
.parallex-section *, .parallex-section h4.stat-dig {color:#565656 !important;}

/* new icons*/
.icon-poweroff {display:block;height:97px;width:100px;background:url(/web/20160326105513/http://www.stylesandwood-group.co.uk/sw-cms/wp-content/themes/craper/images/portal_website_icon.png);}
.icon-poweroff:before { content: "" !important;}

.icon-download {display:block;height:97px;width:100px;background:url(/web/20160326105513/http://www.stylesandwood-group.co.uk/sw-cms/wp-content/themes/craper/images/hub_website_icon.png);}
.icon-download:before { content: "" !important;}

.icon-music {display:block;height:97px;width:100px;background:url(/web/20160326105513/http://www.stylesandwood-group.co.uk/sw-cms/wp-content/themes/craper/images/go_website_icon_.png);}
.icon-music:before { content: "" !important;}

.icon-star{display:block;height:97px;width:100px;background:url(/web/20160326105513/http://www.stylesandwood-group.co.uk/sw-cms/wp-content/themes/craper/images/advisory_services_website_icon.png);}
.icon-star:before { content: "" !important;}

.post .attachment-post-thumbnail{float:right;max-width:100%;}


.tick{display:block;height:97px;width:100px;background:url(/web/20160326105513/http://www.stylesandwood-group.co.uk/sw-cms/wp-content/themes/craper/images/advisory_services_website_icon.png);}
.tick:before { content: "" !important;}

/* make images on product pages full width*/
.wpb_content_element.wpb_single_image img, .wpb_thumbnails .post-thumb img {
    height: auto !important;
    max-width: 100%;
	width:100% !important;
}

.col-md-12 {
/*background:#6daaaa !important;
color:#fff;*/}


.col-md-12 .cus-area{background-color:#87D1D6 !important;}

/* color banner on portal page*/
.page-id-5029 .banner{background-color:#4D5EAB;}
/* color banner on hub page*/
.page-id-4584 .banner{background-color:#000;}
/* color banner on iGo page*/
.page-id-4557  .banner{background-color:#FDB72F;}

/* advisory text white*/
/*.page-id-55 .col-md-6 p, .page-id-55 .col-md-6 h1, .page-id-55 .col-md-6 a{color:#fff !important;}*/

#menu-isite-main .menu-item a{}

.banner, .focus-area{
background-color:#808080;

}

.page-id-421 .banner,.page-id-421  .focus-area{
background-color:#55acee ;
}

.page-id-421 .tip-btm{
background-color:#808080 ;
}

.page-id-4557 .focus-area{
background-color: #FDB72F;
}

.page-id-4584 .focus-area{
background-color: #000;
}

.page-id-5029 .bg-theme{
 background-color: #4d5eab !important;
}

.page-id-4557 .horizontal-icon{
background:url("/web/20160326105513/http://www.stylesandwood-group.co.uk/sw-cms/wp-content/themes/craper/images/orange-tick.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.page-id-202 #text-6{padding:0 0 0 20px;}


#categories-2, #sh_recentposts-2{padding:0 20px;}

.tp-bullets{display:none;}

.page-id-4170 .wwwstylesandwoodenergycoukfocus {background-color:#c3cf21 !important;}
.page-id-4170 .httpwwwstylesandwoodenergycoukfocus{background-color:#c3cf21  !important;}

.page-id-421  .parallex-section .align-center *{color:#fff !important;}

/*.tp-caption{background:url(/web/20160326105513/http://www.stylesandwood-group.co.uk/sw-cms/wp-content/themes/craper/images//transpBlack75.png)}*/

.portfolio-box figcaption span{ font-size: 16px;font-weight: 600;color:#fff;}

.icon-envelopeo::before {content: '\e071';}
.portfolio-area  .portfolio-box img{max-height:230px;}

#investeriframe{max-width:64%;margin:0 auto;}

.blog figcaption a{height:100%;width:100%;}
.wpb_accordion_wrapper{max-width:60%;margin:0 auto;}
.single-post .banner, .single-post .banner h2{background:none;color:#565656;}
 .single-post .banner li, .single-post .banner li a{color:#565656;}
 
.page-id-421  h1 {margin-bottom:0px !important;}

.page-id-4116 .orangebutton{color:#fff !important;background:#5C2E91;}
.page-id-4116 .orangebutton:hover{color:#fff;background:#666564;}

.col-md-6 .parallex-section .container{max-width:570px;float:right;}
.col-md-6 .parallex-section .container .col-md-6{width:100%;}

.blog-box > ul > li {
font-size:1.5em;
}

#wpstats{display:none;}

#blog_subscription-4{padding:0 10px;}

#energyamprenewables h1,#energyamprenewables p, #lifecyclemanagement h1, #lifecyclemanagement p{
color:#fff !important;
}

.page-id-6316 .focus-area{
background-color:#c1cd23;
}

footer .social-icons li {color:#fff;}

#rev_slider_1_1 .tp-caption{font-size:30px !important;} 
@media (max-width: 767px) {
#rev_slider_1_1 .tp-caption{font-size:20px !important;line-height:22px !important;} 
.page-id-4465 .vc_col-sm-6{clear:left;width:100%;}
}

@media (max-width: 500px) {
	#rev_slider_1_1 .tp-caption{font-size:14px !important;line-height:16px !important;} 

	/* fix for mobile padding 1-6-16*/
	.col-xs-12 , .vc_col-sm-12{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.page-id-421 .vc_col-sm-4{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.page-id-421 .vc_col-sm-4 .officespace, 	.page-id-4947 .vc_col-sm-4 .officespace{
		width:100%;
	}

	.page-id-4465 .vc_col-sm-6{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.page-id-4465 .vc_col-sm-6 .btn{
		width:100% !important;
	}

	.page-id-4465 .vc_col-sm-6 .wpb_wrapper p{
		padding:0px !important;
	}
	
	.page-id-4465 .teams  li {
		width:90%;
		margin:10px auto;
	}
	
	.page-id-4465 .vc_col-sm-4, .page-id-4947 .vc_col-sm-4{
		width:90%;
		margin:10px auto;
		float:none;
	}
	
	
	.page-id-4947 .row p{
	font-size:1em !important;
	}
	
	.page-id-4465 .social-links{
		display:none;
	}
	

}

#rev_slider_1_1 .tp-caption a{font-size:14px !important;border:1px solid #fff !important;padding:5px !important;}  
#rev_slider_1_1 .BUTTON2 {top:332px !important;} 

#rev_slider_9_1  .tp-caption,#rev_slider_5_1  .tp-caption{font-size:18px !important; }

.page-id-4116 .vc_col-sm-6 .vc_single_image-img {max-width:555px !important; height:auto;float:left;}


.page-id-6670 .icon-pencilsquareo{
background: rgba(0, 0, 0, 0) url("images/Energy-Generation.png") no-repeat scroll 0 0;
display: block;
height: 58px;
text-indent: -10000px;
width: 60px;
}

.page-id-6670 .icon-floppyo {
background: rgba(0, 0, 0, 0) url("images/Energy-Conservation.png") no-repeat scroll 0 0;
display: block;
height: 58px;
text-indent: -10000px;
width: 60px;
}

.page-id-6670 .icon-trophy{
background: rgba(0, 0, 0, 0) url("images/Energy-Monitoring.png") no-repeat scroll 0 0;
display: block;
height: 58px;
text-indent: -10000px;
width: 60px;
}

.page-id-6670 .icon-trophy::before {
    content: none;
}

#footertop{
background:#444;
}

#footertop h3{
 font-size:200% !important;
}

#sharebox{
background:#808080;
float:left;
padding:10px;
font-size:200%;
}

#menu-new li a {  text-transform: uppercase;}
.page-id-6692 .focus-area{background:#F36D28;}
.page-id-6692 .httpwwwisitecoukfocus{background:#85D4D8;}


.page-id-6931 .icon-staro {
    background: rgba(0, 0, 0, 0) url("images/Vacanciesicon.png") no-repeat scroll 0 0;
    display: block;
    height: 62px;
    text-indent: -10000px;
    width: 62px;
}

.page-id-6931 .icon-thlist {
    background: rgba(0, 0, 0, 0) url("images/Apprenticeshipsicon.png") no-repeat scroll 0 0;
    display: block;
    height: 62px;
    text-indent: -10000px;
    width: 62px; 
}
 
.page-id-6931 .icon-times {
    background: rgba(0, 0, 0, 0) url("images/Early-Careers-Programmeicon.png") no-repeat scroll 0 0;
    display: block;
    height: 62px;
    text-indent: -10000px;
    width: 62px; 
}